.workshop-all {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 20px;
}
.workshop-card-location {
  font-size: 0.6em;
  color: #777;
  padding: 3px 6px;
  border-radius: 4px;
  width: fit-content !important;
}
