@font-face {
  font-family: "GyeonggiMillenniumTitle";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Light.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}
.ws-costom-font {
  font-family: "GyeonggiMillenniumTitle";
}
.ws-costom-font button {
  font-family: "GyeonggiMillenniumTitle";
}
.ws-item-profile {
  background-color: #fff; /* 남는 공간 흰색 */
  overflow: hidden;
}

.ws-item-profile img {
  object-fit: contain;
  background-color: #fff;
}

.ws-container {
  max-width: 1500px;
  margin: 60px auto;
  padding: 20px;
}

.ws-info-split {
  display: flex;
  gap: 30px; /* 좌우 컴포넌트 사이 간격 */
  flex-grow: 1;
}

.ws-info-detail {
  flex: 0 0 60%; /* ⭐ 전체 공간의 60% 할당 */
  display: flex;
  flex-direction: column;
  gap: 20px; /* 섹션 사이 간격 */
}

.ws-info-aside {
  flex: 1; /* 나머지 공간 모두 차지 (40%) */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ws-info-card {
  padding: 20px;
  margin-bottom: 0;
  border: 1px solid #e0e0e0; /* 테두리 */
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.ws-info-section-title {
  font-size: 1.2em;
  color: #444;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
  margin-top: 12px;
  margin-bottom: 15px;
}
